---
layout: layout.njk
title: Live Weather Cameras 
eleventyNavigation:
  key: Live Cams
  order: 3
---


<div class="container has-text-centered is-widescreen">
  <div class="notification has-background-grey is-size-4 has-text-white ">
    Real-time view of the weather around the world
  </div>
</div>


{% set cameraTitle = "New York City" %}
{% set cameraVideo = "https://www.youtube.com/embed/pzNtLE5VDNI" %}

{% include "livecamera-component.njk" %}

{% set cameraTitle = "Dublin" %}
{% set cameraVideo = "https://www.youtube.com/embed/u4UZ4UvZXrg" %}

{% include "livecamera-component.njk" %}

{% set cameraTitle = "Paris" %}
{% set cameraVideo = "https://www.youtube.com/embed/OzYp4NRZlwQ" %}

{% include "livecamera-component.njk" %}

{% set cameraTitle = "Dubai" %}
{% set cameraVideo = "https://www.youtube.com/embed/7dE4IjDQJmE" %}

{% include "livecamera-component.njk" %}

{% set cameraTitle = "Tokyo" %}
{% set cameraVideo = "https://www.youtube.com/embed/tujkoXI8rWM" %}

{% include "livecamera-component.njk" %}

{% set cameraTitle = "Sydney" %}
{% set cameraVideo = "https://www.youtube.com/embed/5uZa3-RMFos" %}

{% include "livecamera-component.njk" %}

{% set cameraTitle = "Cape Town" %}
{% set cameraVideo = "https://www.youtube.com/embed/4Zu64CmAjMo" %}

{% include "livecamera-component.njk" %}

{% set cameraTitle = "Rio de Janeiro" %}
{% set cameraVideo = "https://www.youtube.com/embed/LDmo-aR7ZUo" %}

{% include "livecamera-component.njk" %}