---
layout: layout.njk
title: CityView Weather
eleventyNavigation:
  key: Dashboard
  order: 2
---


{% set cityTitle = "New York City" %}
{% set weatherIcon = "/images/sun.png" %}
{% set cityImage = "https://images.unsplash.com/photo-1572402554573-3380b6197404" %}
{% set weatherDescription = "18° Sunny" %}
{% set cityPath = "/newyork-city"%}

{% include "city-component.njk" %}

{% set cityTitle = "Dublin" %}
{% set weatherIcon = "/images/rain.png" %}
{% set cityImage = "https://images.unsplash.com/photo-1662042494231-f8bc6fd93f2b" %}
{% set weatherDescription = "6° Raining" %}
{% set cityPath = "/dublin-city"%}

{% include "city-component.njk" %}

{% set cityTitle = "Paris" %}
{% set weatherIcon = "/images/partly-cloudy.png" %}
{% set cityImage = "https://images.unsplash.com/photo-1431274172761-fca41d930114" %}
{% set weatherDescription = "12° Partly Cloudy" %}
{% set cityPath = "/paris-city"%}

{% include "city-component.njk" %}

{% set cityTitle = "Dubai" %}
{% set weatherIcon = "/images/sun.png" %}
{% set cityImage = "https://images.unsplash.com/flagged/photo-1559717865-a99cac1c95d8" %}
{% set weatherDescription = "22° Sunny" %}
{% set cityPath = "/dubai-city"%}

{% include "city-component.njk" %}

{% set cityTitle = "Tokyo" %}
{% set weatherIcon = "/images/snow.png" %}
{% set cityImage = "https://images.unsplash.com/photo-1643208936459-48b77614f82f" %}
{% set weatherDescription = "-3° Snowing" %}
{% set cityPath = "/tokyo-city"%}

{% include "city-component.njk" %}

{% set cityTitle = "Sydney" %}
{% set weatherIcon = "/images/lightning.png" %}
{% set cityImage = "https://images.unsplash.com/photo-1599108594665-ecb12795d355" %}
{% set weatherDescription = "28° Lightning" %}
{% set cityPath = "/sydney-city"%}

{% include "city-component.njk" %}

{% set cityTitle = "Cape Town" %}
{% set weatherIcon = "/images/rain.png" %}
{% set cityImage = "https://images.unsplash.com/photo-1580060839134-75a5edca2e99" %}
{% set weatherDescription = "25° Raining" %}
{% set cityPath = "/capetown-city"%}

{% include "city-component.njk" %}

{% set cityTitle = "Rio de Janeiro" %}
{% set weatherIcon = "/images/partly-cloudy.png" %}
{% set cityImage = "https://images.unsplash.com/photo-1483729558449-99ef09a8c325" %}
{% set weatherDescription = "20° Partly Cloudy" %}
{% set cityPath = "/riodejaneiro-city"%}

{% include "city-component.njk" %}