---
layout: layout.njk
title: Sydney
---

<div class="columns">
    <div class="column is-4 is-offset-4">
      <section class="card">
        <div class="card-image">
          <figure class="image">
            <img src="https://images.unsplash.com/photo-1599108594665-ecb12795d355" alt="Image">
          </figure>
        </div>
      </section>
    </div>
</div>


<div class="columns">
    <div class="column is-2 is-offset-4">
          <figure class="image is-256x256">
            <img src="/images/lightning.png" alt="Image">
          </figure>
      </section>
    </div>


<div class="column is-4">
          <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Right Now
          </p>       
        <div class="card-image">
          <p class="card-header-title is-size-5 is-centered">
             28° 
          </p> 
          <p class="card-header-title is-size-5 is-centered">
           16km/h
          </p>
        </div>
      </section>
    </div>
   


<div class="column is-4">
          <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Today
          </p>       
        <div class="card-image">
          <p class="card-header-title is-size-5 is-centered">
            Max Temp 30° 
          </p> 
          <p class="card-header-title is-size-5 is-centered">
            Max Wind 17km/h
          </p> 
        </div>
      </section>
    </div>
  
</div>



<div class="columns">
    <div class="column">
      <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Today
          </p>       
        <div class="card-image">
          <figure class="image">
            <img src="/images/lightning.png" alt="Image">
          </figure>
          <p class="card-header-title is-size-5 is-centered">
            30° Lightning
          </p> 
        </div>
      </section>
    </div>

    <div class="column">
      <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Thursday
          </p>       
        <div class="card-image">
          <figure class="image">
            <img src="/images/rain.png" alt="Image">
          </figure>
          <p class="card-header-title is-size-5 is-centered">
            28° Raining
          </p> 
        </div>
      </section>
    </div>

    <div class="column">
      <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Friday
          </p>       
        <div class="card-image">
          <figure class="image">
            <img src="/images/sun.png" alt="Image">
          </figure>
          <p class="card-header-title is-size-5 is-centered">
            31° Sunny
          </p> 
        </div>
      </section>
    </div>

    <div class="column">
      <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Saturday
          </p>       
        <div class="card-image">
          <figure class="image">
            <img src="/images/sun.png" alt="Image">
          </figure>
          <p class="card-header-title is-size-5 is-centered">
            32° Sunny
          </p> 
        </div>
      </section>
    </div>

    <div class="column">
      <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Sunday
          </p>       
        <div class="card-image">
          <figure class="image">
            <img src="/images/clouds.png" alt="Image">
          </figure>
          <p class="card-header-title is-size-5 is-centered">
            31° Cloudy
          </p> 
        </div>
      </section>
    </div>

    <div class="column">
      <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Monday
          </p>       
        <div class="card-image">
          <figure class="image">
            <img src="/images/partly-cloudy.png" alt="Image">
          </figure>
          <p class="card-header-title is-size-5 is-centered">
            28° Partly Cloudy
          </p> 
        </div>
      </section>
    </div>

    <div class="column">
      <section class="card has-text-centered">
          <p class="card-header-title is-size-4 is-centered">
            Tuesday
          </p>       
        <div class="card-image">
          <figure class="image">
            <img src="/images/sun.png" alt="Image">
          </figure>
          <p class="card-header-title is-size-5 is-centered">
            30° Sunny
          </p> 
        </div>
      </section>
    </div>


    </div>

  </main>